body {
  background-image: url('assets/birdfeed.jpg');
  background-size: cover;
}

#congrats {
    font-family: 'Love Ya Like A Sister', cursive;
    color: whitesmoke;
}

#score {
    font-family: 'Love Ya Like A Sister', cursive;
    color: whitesmoke;
}

#homePageBtn {
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 30px;
    height: 180px;
    width: 180px;
    text-align: center;
    vertical-align: middle;
    line-height: 180px; 
    background-color: dimgray;
    box-shadow: 80;
    border-radius: 180px;
    float: right;
}
